<!-- shared/header -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <%= link_to image_tag("logo-header.png", class: 'logo-image',  size: "30"), root_path , class: "navbar-brand"  %>
  
  <a class="btn btn-outline-primary ml-auto" href="#">Become a Host</a>
  <nav class="my-1 my-md-0 mr-md-3 ml-md-3">
    <%= link_to "Help", help_path, class: "p-2 text-dark" %>
    <%= link_to "Users", '#', class: "p-2 text-dark" %>
		<% if logged_in? %>
			<li class="nav-item dropdown" style="display: inline-block;">
        <a class="nav-link dropdown-toggle p-2 text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Profile', current_user, class: 'dropdown-item' %>
          <%= link_to 'Settings', '#', class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Log out', logout_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
		<% else %>
	    <%= link_to "Sign Up", signup_path, class: "p-2 text-dark" %>
	    <%= link_to "Log In", login_path, class: "p-2 text-dark" %>
    <% end %>
  </nav>
</div>

